@model ControleAtividade.Models.AtividadesViewModels.DetalharAtividadeViewModel
@{
    ViewData["Title"] = "Detalhes atividade";
    Layout = "~/Views/Shared/_LayoutGenerico.cshtml";
}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="text-center"><h1>@Html.DisplayFor(model => model.Atividade.Nome)</h1></div>
        <div class="text-muted text-center"><h4>@Html.DisplayFor(model => model.Atividade.Descricao)</h4></div>
        @if (Model.Atividade.ListaQuestao != null)
        {

            @Html.DisplayName("Questões")
            foreach (var questao in Model.Atividade.ListaQuestao)
            {

                if (questao.ListaOpcao != null)
                {
                    @Html.DisplayName("Opções")
                    foreach (var opcao in questao.ListaOpcao)
                    {

                    }
                }
                else
                {
                    @Html.DisplayName("Nenhuma Opção adicionada")
                }
            }
        }
        else
        {
            @Html.DisplayName("Nenhuma Questão adicionada")
        }
    </div>
</div>