@model ControleAtividade.Models.AtividadesViewModels.ConsultarAtividadesViewModel
@{
    ViewData["Title"] = "Atividades";
    Layout = "~/Views/Shared/_LayoutGenerico.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="col-md-12">
            <div class="text-center">
                <h2>@ViewData["Title"]</h2>
                <hr />
            </div>
            <div class=" col-md-offset-4">
                <div class="col-lg-6">
                    <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="get">
                        <div class="input-group">
                            @Html.EditorFor(model => model.Pesquisar, new { htmlAttributes = new { @class = "form-control", placeholder = "Pesquisar atividades..." } })
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="submit">Buscar</button>
                            </span>
                        </div>
                    </form>
                    <div class="text-center">
                        Não encontrou?@Html.ActionLink("Clique aqui para cadastrar", "Cadastrar")
                    </div>
                    <br />
                </div>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayName("Nome")
                        </th>
                        <th>
                            @Html.DisplayName("Descrição")
                        </th>
                        <th>
                            @Html.DisplayName("Tipo")
                        </th>
                        <th>
                            @Html.DisplayName("Quantidade de questões")
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Atividades)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Descricao)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Tipo)
                            </td>
                            <td>
                                @if (item.ListaQuestao != null)
                                {
                                    @Html.DisplayFor(modelItem => item.ListaQuestao.Count)
                                }
                                else
                                {
                                    @Html.DisplayName("0")
                                }
                            </td>
                            <td>
                                @Html.ActionLink("Detalhes", "Detalhar", new { Id = item.Id }) |
                                @Html.ActionLink("Editar", "Editar", new { Id = item.Id }) |
                                @Html.ActionLink("Cadastrar questão", "ConsultarQuestao", new { Id = item.Id })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>