@model ControleAtividade.Models.TurmasViewModels.CadastrarAlunoTurmaViewModel

@{
    ViewData["Title"] = "Solicitações";
    Layout = "~/Views/Shared/_LayoutProfessor.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="col-md-12">
            <div class="text-center">
                <h2>@ViewData["Title"]</h2>
                @if (ViewBag.msgSucesso != null)
                {
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        @ViewBag.msgSucesso
                    </div>
                }
                @if (ViewBag.msgError != null)
                {
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        @ViewBag.msgError
                    </div>
                }
                <hr />
            </div>
            <div class=" col-md-offset-4">
                <div class="col-lg-6">
                    <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="get">
                        <div class="input-group">
                            @Html.EditorFor(model => model.Pesquisar, new { htmlAttributes = new { @class = "form-control", placeholder = "Pesquisar alunos..." } })
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="submit">Buscar</button>
                            </span>
                        </div>
                    </form>
                    <br />
                </div>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayName("Código")
                        </th>
                        <th>
                            @Html.DisplayName("Nome")
                        </th>
                        <th>
                            @Html.DisplayName("Aluno")
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Turma_Alunos)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.CodigoTuma)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Turma.Nome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Aluno.ApplicationUser.Nome)
                            </td>
                            <td>
                                @Html.ActionLink("Cadastrar aluno", "CadastrarAluno", "Turma", FormMethod.Post, new { CodigoTurma = item.CodigoTuma, IdAluno = item.IdAluno })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
